.u-section-1 .u-sheet-1 {
  min-height: 740px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 780px;
}

.u-section-1 .u-container-layout-1 {
  padding: 35px 0;
}

.u-section-1 .u-shape-1 {
  width: 449px;
  height: 449px;
  background-image: linear-gradient(to right, #fe607c, #f78670);
  --animation-fade_in-opacity: 0.5;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  width: 340px;
  height: 649px;
  margin: -549px auto -100px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 780px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 50px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 11px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 40px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin-left: auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: -61px 95px 0 103px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 43px auto 0 0;
  padding: 19px 64px 20px 63px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 643px;
  }

  .u-section-1 .u-shape-1 {
    width: 401px;
    height: 401px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -501px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 722px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -51px;
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 610px;
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 540px;
    order: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -58px;
    margin-right: 225px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1104px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 675px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 577px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px 10px 30px 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 136px;
    margin-left: 90px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 549px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-shape-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 473px;
    width: 248px;
    margin-top: -387px;
    margin-bottom: -47px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -64px;
    margin-right: 0;
    margin-left: 93px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 40px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 932px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  --radius: 50px;
  min-height: 292px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 10px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-1 {
  min-height: 223px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/45.jpg");
  background-size: cover;
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 223px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 30px 20px;
}

.u-section-2 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.8;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 214px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 19px 64px 20px 63px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 780px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-image-2 {
  height: 317px;
  --radius: 50px;
  width: 407px;
  margin: 0 auto 0 56px;
}

.u-section-2 .u-group-1 {
  min-height: 219px;
  width: 261px;
  height: auto;
  --radius: 50px;
  margin: -75px auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 40px auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 373px;
  min-height: 175px;
  height: auto;
  margin: -64px 0 0 auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 5px 0 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-text-9 {
  margin: 27px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 241px;
  }

  .u-section-2 .u-image-1 {
    min-height: 184px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 184px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 176px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 847px;
  }

  .u-section-2 .u-image-2 {
    height: 294px;
    width: 353px;
    margin-left: 24px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -52px;
    height: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 47px;
  }

  .u-section-2 .u-group-2 {
    width: 265px;
    min-height: 193px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 141px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 936px;
  }

  .u-section-2 .u-image-2 {
    height: 235px;
    width: 255px;
    margin-left: 27px;
  }

  .u-section-2 .u-group-1 {
    width: 233px;
    margin-top: -40px;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 25px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-8 {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1872px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-2 .u-image-1 {
    min-height: 373px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 204px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 202px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 724px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 344px;
    width: 473px;
  }

  .u-section-2 .u-group-1 {
    min-height: 211px;
    width: 275px;
    margin-top: -101px;
  }

  .u-section-2 .u-text-6 {
    font-size: 2.5rem;
  }

  .u-section-2 .u-group-2 {
    min-height: 137px;
    width: 446px;
    margin-top: -64px;
    margin-right: auto;
    margin-left: 94px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1827px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 235px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 731px;
  }

  .u-section-2 .u-image-2 {
    height: 247px;
    width: 310px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 202px;
    width: 294px;
    margin-top: -50px;
  }

  .u-section-2 .u-text-6 {
    font-size: 2rem;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 35px;
  }

  .u-section-2 .u-group-2 {
    min-height: 140px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 590px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 470px;
  background-image: url("images/person-holding-smartphone-with-h.jpg");
  --radius: 50px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 470px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 470px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-3 .u-image-1 {
    min-height: 388px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 388px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-3 .u-image-1 {
    min-height: 297px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-3 .u-image-1 {
    min-height: 668px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-3 .u-image-1 {
    min-height: 421px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 394px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 17.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 17.3333px));
  min-height: 172px;
  --gap: 26px;
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-4 .u-icon-1 {
  height: 51px;
  width: 51px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 2px auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.375rem;
  margin: -51px 2px 0 75px;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 13px 0 0 75px;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-4 .u-icon-2 {
  height: 51px;
  width: 51px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 2px auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.375rem;
  margin: -51px 2px 0 75px;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  font-style: normal;
  margin: 13px 0 0 75px;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-4 .u-icon-3 {
  height: 51px;
  width: 51px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 2px auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.375rem;
  margin: -51px 2px 0 75px;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  font-style: normal;
  margin: 13px 0 0 75px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 17.3333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 17.3333px));
    min-height: 142px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -53px;
    margin-right: 0;
    margin-left: 73px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -53px;
    margin-right: 0;
    margin-left: 73px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 22px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: -53px;
    margin-right: 0;
    margin-left: 73px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 22px;
    margin-left: 73px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 12.999975000000001px);
    grid-template-columns: repeat(2, calc(50% - 12.999975000000001px));
    min-height: 326px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}