 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/view-robot-taking-care-garden5-min.jpg');
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 336px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 277px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 212px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 159px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 846px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 60px 0 0 570px;
}

.u-section-2 .u-image-1 {
  width: 520px;
  height: 665px;
  --radius: 50px;
  margin: -45px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: -600px 0 0 570px;
}

.u-section-2 .u-btn-1 {
  font-style: italic;
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-accordion-1 {
  width: 570px;
  margin: 42px auto 54px 570px;
}

.u-section-2 .u-accordion-link-1 {
  font-weight: 700;
  --radius: 50px;
  background-image: none;
  padding: 20px 30px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-2 {
  font-weight: 700;
  --radius: 50px;
  background-image: none;
  padding: 20px 30px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-3 {
  font-weight: 700;
  --radius: 50px;
  background-image: none;
  padding: 20px 30px;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-4 {
  font-weight: 700;
  --radius: 50px;
  background-image: none;
  padding: 20px 30px;
}

.u-section-2 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-5 {
  font-weight: 700;
  --radius: 50px;
  background-image: none;
  padding: 20px 30px;
}

.u-section-2 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 457px;
  }

  .u-section-2 .u-image-1 {
    width: 404px;
    height: 698px;
    margin-top: -53px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -625px;
    margin-left: 457px;
  }

  .u-section-2 .u-accordion-1 {
    width: 483px;
    margin-right: 0;
    margin-bottom: 60px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 777px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    height: 675px;
    margin-top: -770px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 115px;
    margin-right: 260px;
    margin-left: 0;
  }

  .u-section-2 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 755px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -748px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-top: 93px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 507px;
  }

  .u-section-2 .u-image-1 {
    height: 414px;
    margin-top: -500px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-top: 106px;
  }
}